
html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
}

.divClass {
  width:95%;
  margin: 2%;
  background-color: white;
  box-shadow: #254C58 1px 0px;
  border: #3C7D91 5px double; 
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;
  max-height: 433px;  
}

body {
  background-color: #133440
}

.wrapper {
  background-color: #2d4e5a;
  height: 200px;
  width: 200px;
  position: relative;
}
