/**
 * Just for fun: Wifi icon with pure CSS
 https://codepen.io/GilSanchez/pen/ApEvqM/right
 */

 .wifi {
	padding: 5px;
}

.wifi, .wifi:before {
	display: inline-block;
	border: 15px double transparent;
	border-top-color: currentColor;
	border-radius: 50%;
}

.wifi:before {
	content: '';
	width: 0; height: 0;
}
